<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application CV</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js" defer></script>
</head>

<body>
    <div id="app" class="main-container">
        <div class="flex">
            <div class="box cv-gen">
                <h1>Application CV</h1>
                <div>
                    <h2>Données personnelles</h2>
                    <label for="lastname">Nom</label>
                    <input type="text" v-model="lastname" /> <br>

                    <label for="firstname">Prénom</label>
                    <input type="text" v-model="firstname" /> <br>

                    <label for="birthday">Date de naissance</label>
                    <input type="date" v-model="birthday" /> <br>

                    <label for="adresse">Adresse</label>
                    <input type="text" v-model="adresse" placeholder="Entrez votre adresse" /> <br>

                    <label for="car">Voiture</label> <br>
                    <input type="radio" v-model="car" v-bind:value="true" />Oui
                    <input type="radio" v-model="car" v-bind:value="false" />Non<br>
                </div>

                <div>
                    <h2>Formations</h2>
                    <label for="schoolName">Ajouter un formation</label>
                    <input type="text" id="schoolName" /> <br>

                    <label for="schoolStart">De</label>
                    <input type="date" id="schoolStart" /> <br>

                    <label for="schoolEnd">A</label>
                    <input type="date" id="schoolEnd" /> <br>
                    <button @click="addFormation">Ajouter une formation</button>
                </div>
                <div>
                    <h2>Expériences professionnelles</h2>
                    <label for="proName">Ajouter une expérience</label>
                    <input type="text" id="proName" /> <br>

                    <label for="proStart">De</label>
                    <input type="date" id="proStart" /> <br>

                    <label for="proEnd">A</label>
                    <input type="date" id="proEnd" /> <br>
                    <button @click="addExperience">Ajouter une expérience pro</button>
                </div>
                <div>
                    <h2>Compétences</h2>
                    <label for="skills">Ajouter une compétence</label>
                    <input type="text" id="skillName" /> <br>
                    <button @click="addCompetence">Ajouter</button>
                </div>
                <button @click="registerCv">Enregistrer le CV</button>
            </div>
            <div class="box cv-vue">
                <div>
                    <h1>Rendu du CV</h1>
                    <personal-data :lastname="lastname" :firstname="firstname" :birthday="birthday" :adresse="adresse"
                        :car="car"></personal-data>
                    <formations :schools="schools"></formations>
                    <experiences :pros="pros"></experiences>
                    <competences :skills="skills"></competences>
                    
                </div>
            </div>
        </div>
    </div>

</body>

</html>